<div>
  <app-toolbar></app-toolbar>

  <div class="form">

    <mat-form-field appearance="fill">
      <mat-label>Data de investimento</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="investmentDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Cdb Rate</mat-label>
      <input matInput type="number" [(ngModel)]="cdbRate">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data de hoje</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="currentDate" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button [class.button-spinner]="loading" [disabled]="loading" color="primary"
        (click)="calcCdb()">Calcular</button>
    </div>

  </div>

  <div *ngIf="loading" class="loading-spinner">
    <app-spinner></app-spinner>
  </div>

  <div class="table" *ngIf="haveData">
    <app-table [items]="items"></app-table>
  </div>

  <div class="graphic">
    <canvas #graphic></canvas>
  </div>
</div>